<%= form_for @wiki do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title, class: 'form-control', placeholder: "Enter the title" %>
 
   <%= f.label :body %>
   <%= f.text_area :body, class: 'form-control', placeholder: "Enter the body" %>
   
   <% if current_user.role == "premium" %>
      <%= f.label :private %>
      <%= f.check_box :private, class: 'checkbox' %>
   <% end %>
 
   <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
<% if @wiki.private? %>
   <h1> Collaborations </h1>
   <% User.all.each do |user| %>
         <%= link_to "#{user.email}", collaborations_path(user, @wiki), class: 'btn btn-success' %>
         </br>
   <% end %>
<% end %>